<section class="footer">
  <div class="footer-info">
    <div class="footer-info-logo">
      <app-logo> </app-logo>
      <h5>
        We are a residential interior design firm located in Portland. Our
        boutique-studio offers more than
      </h5>
    </div>
    <div class="footer-info-services">
      <div class="footer-info-services-title">Services</div>
      <ul class="footer-info-services-list">
        <li>
          <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"
            ><span class="">Bonus program</span></a
          >
        </li>
        <li>
          <a
            [routerLink]="['/routePath']"
            routerLinkActive="router-link-active"
          >
            <span class="">Gif cards</span></a
          >
        </li>
        <li>
          <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"
            ><span class="">Service contracts</span></a
          >
        </li>
        <li>
          <a
            [routerLink]="['/routePath']"
            routerLinkActive="router-link-active"
          >
            <span class="">Non-Cash account</span></a
          >
        </li>
        <li>
          <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"
            ><span class="">Payment</span></a
          >
        </li>
      </ul>
    </div>
    <div class="footer-info-buyer">
      <div class="">Assistance to the buyer</div>
      <ul class="footer-info-boyer-list">
        <li class="">
          <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"
            >Find an order</a
          >
        </li>
        <li class="">
          <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"
            >Terms of delivery</a
          >
        </li>
        <li class="">
          <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"
            >Exchange and return of goods</a
          >
        </li>
        <li class="">
          <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"
            >Guarantee</a
          >
        </li>
        <li class="">
          <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"
            >Freqently asked questions</a
          >
        </li>
        <li class="">
          <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"
            >Terms of use of the site</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-social-icons">
    <ul class="footer-social-icons-list">
      <li>
        <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"
          ><span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="16"
              height="16"
              color="#ffffff"
              fill="none"
            >
              <path
                d="M3 21L10.5484 13.4516M21 3L13.4516 10.5484M13.4516 10.5484L8 3H3L10.5484 13.4516M13.4516 10.5484L21 21H16L10.5484 13.4516"
                stroke="#ffffff"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path></svg></span
        ></a>
      </li>
      <li>
        <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"
          ><span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="16"
              height="16"
              color="#ffffff"
              fill="none"
            >
              <path
                d="M3 21L10.5484 13.4516M21 3L13.4516 10.5484M13.4516 10.5484L8 3H3L10.5484 13.4516M13.4516 10.5484L21 21H16L10.5484 13.4516"
                stroke="#ffffff"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path></svg></span
        ></a>
      </li>
      <li>
        <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"
          ><span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="16"
              height="16"
              color="#ffffff"
              fill="none"
            >
              <path
                d="M3 21L10.5484 13.4516M21 3L13.4516 10.5484M13.4516 10.5484L8 3H3L10.5484 13.4516M13.4516 10.5484L21 21H16L10.5484 13.4516"
                stroke="#ffffff"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path></svg></span
        ></a>
      </li>
    </ul>
    <!-- Add more social networks here -->
  </div>
</section>
