<div class="banner-card">
  <div class="banner-card-header">
    <img src="assets/img/ipad-mock-photo.png" alt="banner-image" />
  </div>

  <div class="banner-card-body">
    <h1 class="banner-card-body-title">Popular Products</h1>
    <!-- banner title;-->
    <h6 class="banner-card-body-des">
      iPad combines a magnificent 10.2-inch Retina display, incredible
      performance, multitasking and ease of use.
    </h6>
    <app-button
      [properties]="{
        color: '#000000',
        backgroundColor: 'transparent',
        borderColor: '#000000',
        label: 'show now',
        height: '50px',
        width: '200px'
      }"
    ></app-button>
  </div>
</div>
